.mainDiv{
    width:100%;
    height:100vh;
    position: relative;
    text-align: center;
    display: block;
    
}
.loginImage{
    width:100%;
    height: 100vh;
}
.loginFormMainDiv{
    width:35%;
    height: 310px;
    position: relative;
    margin: auto;
    top: -71vh;
    background: rgba(255, 255, 255, 0.89);
    
}
.loginTitle{
    color:black;
    padding-top:20px;
    margin-bottom: 0px;
    font-size: 24px;
    
}
.formDiv{
    width:80%;
    height: 290px;
    margin: 0px auto auto auto;
}
.inputField{
    width:100%;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px; 
    font-family: "Lato", sans-serif;
    padding: 0 0 0 12px;
    background: #f3f3f5;
    margin: 25px auto 0px auto;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #f3f3f5;
    box-sizing: border-box;
    outline: none;
}
.inputField:focus{
    background: #FFFFFF;
}
.loginButton{
    width:100px;
    margin-top: 20px;
}
.signupText{
    margin:0px;
    text-align: center;
}
.signupButton{
    width:80px;
    font-size: 16px;
    margin:auto;
    padding: 2px;
}
.signupButton:hover{
    color:blue;    
}
.backButton{
    width:80px;
    font-size: 17px;
    margin:auto;
    padding: 2px;
    justify-content: center;
}
.backButton:hover{
    color:blue;
}
.invalidLogin{
    border: 1px solid #C41337;
}
.validLogin{
    border: 1px solid #00873F;
}
.usernameEror{
    color: red;
    text-align: left;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}
.checkCircle{
    float: right;
    margin-right: 13px;
    margin-top:-23px;
    position: relative;
    color:#00873F;
    font-size: 14px;    
}
.exTrianle{
    float: right;
    margin-right: 13px;
    margin-top: -22px;
    position: relative;
    color:#C41337;
    font-size: 13px;
}