.Navbar{
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding:2px 15px 2px 15px;
    background: rgb(27, 26, 26) !important;
}
.appContent{
    font-size: 17px;
}
.appContent:hover{
    color:orange !important;
    font-size: 17px; 
    font-weight: bold;   
}
.appTitle{
    color:orange!important;
    font-size: 19px;
    font-weight: bold;
}
.appTitle:hover{
    color:grey!important;
    font-size: 19px;
    font-weight: normal;
}
.logout{
    font-size: 17px;
}
.logout:hover{
    color:red !important;
    font-size: 17px; 
    font-weight: bold;  
    cursor: pointer;
}
.username{
    color:grey;
    text-align: center;
    font-size: 15px;
    margin:auto 0px auto 0px;
    padding: 5px;
}