.title{
    margin-top:55px;
    text-align: left;
}
.titleImage{
    margin-top:120px;
}
.quotes{
    position: relative;
    top:-100px;
    background:rgba(41, 39, 39, 0.301);
    width: 300px;
    color: white;
    font-size: 16px;
    margin:auto;

}