
.createStoryContainerDiv{
    max-width:100%;
    height:calc(100vh - 56px);
    padding:0px;
    margin:0px;
}
.createStoryMainDiv{
    
    max-width:100%;
    height:calc(100vh - 56px);
    padding:0px;
    margin:0px;
    

}
.createStoryImageDiv{
    position: absolute;
    margin:0px;
    padding:0px;
    top:40px;
    width:151px;
    height:151px;
    border: 1px solid #ccc;

}
.ImageDiv{
    max-width:100%;
    height: calc(100vh - 56px);
    padding:0px;
    margin:0px;
}
.createStoryTitleDiv{
    position: relative;
    padding-left:10px;
    top: 200px;
    margin:auto;
    width:300px;
    height:35px;
    background: rgba(128, 128, 128, 0.356);
    color:white;
    text-align: center;
  
}

.createStoryDescriptionDiv{
    position: relative;
    padding: 10px 10px 10px 10px;
    top:240px;
    margin: auto;
    width:550px;
    height:370px;
    background: rgba(128, 128, 128, 0.356);
    color:white;
    text-align: left;
    overflow: scroll;
}
