
.createStoryContainerDiv{
    max-width:100%;
    height:calc(100vh - 90px);
    min-height: 50vh;
    
    padding:0px;
    margin:0px;
}
.createStoryMainDiv{
    
    max-width:100%;
    height:calc(100vh - 90px);
    padding:0px;
    margin:0px;
    min-height: 50vh;
    

}
.ImageDiv{
    max-width:100%;
    height: calc(100vh - 90px);
    padding:0px;
    margin: 0px;
    min-height: 50vh;
}
.createStoryTitleDiv{
    position: relative;
    top: 1vh;
    margin:auto;
    width:350px;
    height:30px;
    font-size: 20px;
    background: rgba(32, 32, 32, 0.89);
    color:orange ;
    text-align: center;

}

.createStoryDescriptionDiv{
    position: relative;
    padding: 10px 10px 10px 10px;
    top:4vh;
    margin: auto;
    width:500px;
    height:45vh;
    background: rgba(88, 88, 88, 0.575);
    color:white;
    text-align: left;
    overflow: scroll;
    font-size: 16px;
    
}
.createStoryEditButtonDiv{
    position: relative;
    top:6vh;
    text-align: center;
    margin:0px;
}
.createStoryEditButton{
    background: rgba(3, 4, 17, 0.699);
    border: 1px solid rgba(128, 128, 128, 0.774);
    width: 100px;
    height: 5vh;
    color:white;
    font-size: 2vh;
    text-align: center;
    
}
.createStoryAuthor{
    position: absolute;
    top:89vh;
    text-align: center;
    margin:auto auto 10px auto;
    color:rgb(202, 199, 199);
    background: black;
    width:100%;
    height: 27px;

}
.createStoryPhotoDiv{
    position: relative;
    top: 1vh;
    margin: 85px 0px 0px 20px;
    
}

@media only screen and (max-width: 501px) {
    
    .createStoryPhotoDiv{
        position: relative;
        top: 1vh;
        margin: 100px 0px 0px 20px;
       
    }
    .createStoryPhoto{
        
        width: 15vh;
        height: 15vh;
    }
    .createStoryDescriptionDiv{
        position: relative;
        padding: 10px 10px 10px 10px;
        top:4vh;
        margin: auto;
        width:300px;
        height:35vh;
        background: rgba(88, 88, 88, 0.575);
        color:white;
        text-align: left;
        overflow: scroll;
        font-size: 14px;
        
    }
    .createStoryTitleDiv{
        position: relative;
        top: 2vh;
        margin:auto;
        width:200px;
        height:24px;
        font-size: 16px;
        background: rgba(32, 32, 32, 0.89);
        color:orange ;
        text-align: center;
    
    }
    .createStoryEditButton{
        background: rgba(3, 4, 17, 0.699);
        border: 1px solid rgba(128, 128, 128, 0.774);
        width: 120px;
        height: 4.5vh;
        color:white;
        font-size: 1.8vh;
        text-align: center;
        
    }
    .createStoryAuthor{
        position: absolute;
        top:88.5vh;
        text-align: center;
        margin:auto auto 10px auto;
        color:rgb(202, 199, 199);
        background: black;
        width:100%;
        height: 24px;
        font-size: 11px;
        padding: 3px;
    
    }
    

}
@media only screen and (min-width: 502px) {
    
    .createStoryPhotoDiv{
        position: relative;
        top: 1vh;
        margin: 110px 0px 0px 20px;
       
    }
    .createStoryPhoto{     
        width: 17vh;
        height: 17vh;
    }
    .createStoryDescriptionDiv{
        position: relative;
        padding: 10px 10px 10px 10px;
        top:4vh;
        margin: auto;
        width:500px;
        height:40vh;
        background: rgba(88, 88, 88, 0.575);
        color:white;
        text-align: left;
        overflow: scroll;
        font-size: 15px;
        
    }
    .createStoryTitleDiv{
        position: relative;
        top: 2vh;
        margin:auto;
        width:330px;
        height:28px;
        font-size: 18px;
        background: rgba(32, 32, 32, 0.89);
        color:orange ;
        text-align: center;
    
    }
    .createStoryEditButton{
        background: rgba(3, 4, 17, 0.699);
        border: 1px solid rgba(128, 128, 128, 0.774);
        width: 120px;
        height: 4.5vh;
        color:white;
        font-size: 1.8vh;
        text-align: center;
        
    }
    .createStoryAuthor{
        position: absolute;
        top:87vh;
        text-align: center;
        margin:auto auto 10px auto;
        color:rgb(202, 199, 199);
        background: black;
        width:100%;
        height: 24px;
        font-size: 11px;
        padding: 3px;
    
    }
    

}





