.inputStoryForm{
    margin:0px 30px 30px 30px;
    padding: 70px 0px 0px 0px;
}
h1{
    color:black;
}
.inputTitle{
    color: #212529;
}
.inputDescription{
    background: #f3f3f5;
}
.StoryButton{
    margin-top: 5px;
    align-items: center;
    position: absolute;
    right: 30px;
}
.Input{
    width:100%;
    padding:10px;
    box-sizing: border-box;
}
.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.inputElement{
    background: #f3f3f5;
    font: inherit;
    padding: 6px 10px;
    width:100%;
    box-sizing: border-box;
}
.inputElement:focus{  
    background-color:#FFFFFF;
}
.editStoryForm{
    border:1px solid #ccc;
    background: rgba(204, 204, 204, 0.103);
    font: inherit;
    padding: 10px 10px;
    display:block;
    width:100%;
}
.modalButton{
    margin:0px 10px 5px 10px;
}

.invalidInput{
    border: 1px solid #C41337;
    
}
.validInput{
    border: 1px solid #00873F;

}

